#awards {
  &-en,
  &-de {
    h1,
    .h1 {
      font-family: map-get($font-family, 'secondary');
      font-weight: map-get($font-weight, 'primary');
      @include font-size(25.19);
      letter-spacing: 0;

      margin-bottom: 0;

      @include media-sm {
        @include font-size(44.6, 18);
      };

      & span {
        font-family: map-get($font-family, 'primary');
        font-weight: map-get($font-weight, 'semibold');
        @include font-size(64.72);
        letter-spacing: -.078125rem;

        padding-left: .4ch;

        @include media-sm {
          @include font-size(114.6, 18);
        };
      }
    }
  }
}
