body.woocommerce-checkout {
  @include media-sm {
    @include font-size(20, 18);
    letter-spacing: .111111rem;
  };
}


#checkout {
  @extend #shop;

  @include media-sm {
      padding-left: 14rem;
      padding-right: 17.24444rem - 8.744444rem;
      padding-top: 14.942778rem;
  };

  .content {
    h1,
    .h1 {
      font-family: map-get($font-family, 'secondary');
      font-weight: map-get($font-weight, 'light');
      @include font-size(28);
      letter-spacing: .078125rem;

      margin-bottom: 1.8rem;
      margin-left: 0;

      text-transform: none !important;

      @include media-sm {
        @include font-size(82, 18);
        letter-spacing: .2rem;
      };
    }

    p,
    .p {
      &.order-comments {
        @include font-size(11);
        letter-spacing: .0555556rem;

        @include media-sm {
          @include font-size(19.8, 18);
        };

        .required {
          color: red;
          font-weight: 700;
          border: 0!important;
          text-decoration: none;
        }
      }
    }
  }

  #customer_details,
  #order_review {
    padding: {
      top: 3.90625rem;
      bottom: 3.4rem;
    }

    @include media-sm {
      padding-top: 0;
    };

    &:first-child {
      padding-top: 0;
    }
  }

  .woocommerce-billing-fields,
  .woocommerce-shipping-fields,
  .woocommerce-additional-fields {
    padding: {
      bottom: 3.4rem;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  .woocommerce-shipping-fields {
    @extend .d-none;      // No shipping in this shop
  }

  .form-row {
    label,
    .woocommerce-input-wrapper {
      @extend [class*="col-"];
      @extend .col-12;
    }

    .woocommerce-input-wrapper {
      @extend .form-group;
    }
  }

  // Styles adapted from StoreFront's icon.scss
  #payment {
    border-radius: 0;
    padding-bottom: 3.90625rem + 3.4rem;

    background: transparent;

    .payment_methods {
      border: 0;
      border-radius: 5px;

      padding: {
        left: 1.40625rem;
        right: 1.40625rem;
      }

      background: #f6f4f3;

      & + .place-order {
        @extend .d-none;
      }
    }

    .wc_payment_method {
      & > input[type="radio"] {
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute !important;
        width: auto;
      }

      & > label {
        @extend .d-flex;
        @extend .align-items-center;
        @extend .justify-content-between;

        position: relative;

        padding: 1.41575em 0 0 0;
        //padding-left: 1.4em;
        cursor: pointer;

        /*&::before {
          @extend .d-inline-block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;

          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          content: "\f10c";
          margin-right: 0.5407911001em;
          -webkit-transition: color, ease, .2s;
          transition: color, ease, .2s;
        }*/
      }

      & > input[type="radio"]:checked + label {
        color: map-get($color-text, 'primary');
        //&::before {
        //  color: map-get($color-text, 'primary');
        //  content: "\f192";
        //}
      }

      img {
        float: right;
        border: 0;
        padding: 0;
        max-height: 1.618em;
      }

      .payment_box {
        padding: 1.41575em;

        color: lighten(map-get($color-text, 'text'), 25%);
        background: darken(#f6f4f3, 8.333333%);

        &::before {
          border-bottom-color: darken(#f6f4f3, 8.333333%);
        }

        label {
          margin-bottom: 0;
          margin-top: 1rem;
          padding: 0;
        }

        input {
          @extend .form-control;

          margin-bottom: 1rem;
        }
      }

      p,
      .p {
        margin-bottom: 0;
      }
    }
  }

  #order_payment_heading {
    margin-bottom: 2rem;
  }

  #order_review {
    .wc-gzd-checkbox-placeholder {
      margin-bottom: 2rem;
    }

    .legal {
      position: relative;

      padding: 0;
      float: none;

      label {
        margin-top: .5rem;
        line-height: inherit;

        span {
          line-height: 2.2rem;
          margin-top: -.35rem;
          margin-bottom: .35rem;
          a {
            border-bottom: 2px solid #000;
            transition: all 300ms ease;
            &:hover {
              border-bottom: 2px solid map-get($color_text, 'primary');
              transition: all 300ms ease;
            }
          }
        }
      }

      input[type="checkbox"] {
        position: absolute;
        top: 0;

        margin-top: 0;
        margin-right: .625rem;
      }

      span {
        @extend .d-block;
        padding-left: 2.2rem;
      }
    }
  }

  #order_comments_field {
    .optional {
      @extend .d-none;
    }

    label {
      &[for="order_comments"] {
        @extend .d-none;
      }
    }
  }

  #order_comments {
    min-height: 20rem;
  }

  .wc-gzd-order-submit {
    position: relative;

    .form-row {
      @extend .justify-content-end;
      margin: 0;
    }

    @at-root {
      #place_order {
        @extend .btn;
        @extend .btn-secondary;

        font-weight: map-get($font-weight, 'semibold');
        white-space: normal;
        line-height: 1.2;

        max-width: 100%;
        padding: {
          top: 1.5rem;
          bottom: 1.5rem;
        }

        @include media-sm {
          @include font-size(29.2, 18);
          max-width: 65%;
        };
      }
    }
  }

  table.shop_table {
    border: 0;
    margin: 0;

    background: #f6f4f3;

    td,
    th {
      @include font-size(0.8 * 12.8);
      padding: 1em .75rem;
      border: 0;
      font-weight: inherit;

      @include media-sm {
        @include font-size(30.4, 18);

        padding: {
          left: 1.5rem;
          right: 1.5rem;
        }
      };
    }

    thead,
    tfoot {
      th {
        background: darken(#f6f4f3, 10%);
        border: 0;
      }
    }

    tbody {
      td {
        @include media-sm {
          @include font-size(1.3 * 18, 18);
        };
        font-weight: map-get($font-weight, 'semibold');

        border: 0;
        padding: {
          top: 2em;
          bottom: 2em;
        }

        p {
          font-size: inherit;
        }

        &.product-name {
          p {
            @include font-size(.72 * 12.8);
            font-weight: map-get($font-weight, 'light');

            @include media-sm {
              @include font-size(1.04 * 18, 18);
            };
          }
        }
      }
    }

    tfoot {
      td,
      th {
        font-weight: inherit;
      }

      td {
        border: 0;
        background: darken(#f6f4f3, 20%);
      }
    }

    b,
    strong {
      font-weight: map-get($font-weight, 'semibold');
    }

    .product-total,
    tfoot td {
      @extend .text-center;

      &.order-note {
        @extend .text-left;
      }
    }
  }
}

// Giropay widget
body ul.ui-giropay_widget {
  width: 80vw;
  left: 0 !important;
  right: 0 !important;

  margin: auto;
  margin-top: 1.09375rem;

  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

#thank-you {
  @extend #checkout;
}
