@import "sections/sections";
@import "teasers/teasers";
@import "shop";
@import "checkout";
@import "woocommerce";
@import "product";
@import "category";

//minimize content p font-size and set mor margin for p / Task ID 29 Mohr
#impressum,
#datenschutz,
#datenschutz,
#versandinformationen,
#widerruf,
#imprint,
#data-protection,
#revocation,
#sichere-zahlung,
#faq{
  .content {
    p,
    .p {
      @include font-size(25, 23);
      margin-bottom: 2.1rem;
      line-height: 2rem;
      @include media-lg {
        padding-right: 4rem;
      }
    }
  }
}

.lawyer {
  @extend .image-wrapper;
}

.content-page {
  @include media-sm {
    padding: {
      left: 9.3rem;
      right: 9.3rem;
    }
  };

  .content {
    @include media-sm {
      margin-left: 4.66025rem;
    };
  }

  .backto {
    p {
      a{
        span {
          display: inline-block;
          width: 80%;
          padding-top: .7rem;
        }
        &::before {

          width: 20%;
          display: inline-block;
          content: $icon-arrow-right-3;
          transform: rotate(180deg);
          @include font-size((9 * 1.2), 9);
          padding: 0;
          margin: 0;
          font-family: 'mohr-icons' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          padding: 0.5rem;
          @include media-sm {
            vertical-align: 180%;
          };
        }
      }
    }
  }

  .image-wrapper {
    @include media-sm {
      margin-bottom: 4.2rem;
    };

    img {
      @include media-sm {
        width: 62.222222rem;
      };
    }
  }
}

.content-team {
  @extend .content-page;
  @extend #rechtsanwalte;

  padding: {
    bottom: 5rem;
  }

  @include media-sm {
    padding: {
      bottom: 8.4rem;
    }
  };

  .lawyers-last {
    .row {
      &:last-of-type {
        .lawyer {
          margin-bottom: 12rem !important;
        }
      }
    }
  }

  .lawyers-highlighted {
    .row {
      &:last-of-type {
        .lawyer {
          margin-bottom: 12rem !important;
        }
      }
    }
  }

  .lawyers {
    & > .row {
      &:nth-child(5n+1) {
        .lawyer {
          @extend .mr-sm-auto;

          @include media-sm {
            margin-left: 1.6rem;
          };
        }
      }

      &:nth-child(5n+2) {
        .lawyer {
          @extend .mx-sm-auto;
        }
      }

      &:nth-child(5n+3) {
        .lawyer {
          @extend .ml-sm-auto;

          @include media-sm {
            margin-right: 6rem;
          };
        }
      }

      &:nth-child(5n+4) {
        .lawyer {
          @extend .mr-sm-auto;

          @include media-sm {
            // margin-top: -7.2rem;
            margin-left: 7rem;
          };
        }
      }

      &:nth-child(5n+5) {
        .lawyer {
          @extend .ml-sm-auto;

          @include media-sm {
            max-width: 32.4rem;

            margin-top: -5.2rem;
            margin-right: 6rem;
          };
        }
      }

      &:last-child {
        .lawyer {
          @include media-sm {
            margin-bottom: 0;
          };
        }
      }
    }
  }

  .lawyer {
    @include media-sm {
      min-height: 0;
      //margin-bottom: 12rem;
      margin-bottom: -8rem;
    };

    img {
      @include media-sm {
        max-width: 43.2rem;
        width: auto;
      };
    }

    .overlay {
      @include media-sm {
        height: auto;
        padding: {
          top: 5.3rem;
          // bottom: 1.9rem;    Using 0 padding bottom for animation
          bottom: 0;
          left: 2.777777rem;
          right: 7.2rem;
        }

        opacity: 1;
        visibility: visible;
      };

      h2,
      .h2 {
        @include media-sm {
          @include font-size(25.16, 20);
          letter-spacing: .111111rem;
        };
      }

      h3,
      .h3 {
        @include media-sm {
          font-family: map-get($font-family, 'primary');
          @include font-size(25.16, 20);

          margin-bottom: 1.1rem;
        };
      }

      p,
      .p {
        line-height: 1.25;
      }

      span {;
        @include media-sm {
          // display: none !important;

          font-size: 0;

          position: absolute;
          bottom: 1.1rem;
          right: 0.7rem;

          overflow: visible;

          z-index: 1;
        };

        &::before {
          @include media-sm {
            content: $icon-arrow-right-2;
            @include font-size((18 * 4), 18);

            padding: 0;
            margin: 0;
          };
        }
      }

      [data-toggle="hover-collapse"] {
        @include media-sm {
          display: none !important;
          padding-bottom: 1.9rem;
        };
      }

      &.hover-collapse {
        span {
          @include media-sm {
            display: block !important;
          };
        }
      }
    }

    .image-equalizer + .overlay {
      @include media-sm {
        padding-right: 2.777777rem;
      };
    }

    &.lawyer-1 {
      @extend .ml-sm-auto;
      @extend .mr-sm-0;

      img {
        @include media-sm {
          max-width: 37rem;
        };
        @include media-md {
          max-width: 38.2rem;
        };
        @include media-xl {
          max-width: 33.2rem;
        };
        @include media-xxl {
          max-width: 35.2rem;
        }
        @include media-only-mobile-landscape {
          max-width: 30rem;
        }
      }
    }

    &.lawyer-2 {
      @extend .mr-sm-auto;
      //@extend .ml-sm-0;
      @include media-sm {
        margin-left: 5rem !important;
      };
      img {
        @include media-sm {
          max-width: 37rem;
        };
        @include media-md {
          max-width: 38.2rem;
        };
        @include media-xl {
          max-width: 33.2rem;
        };
        @include media-xxl {
          max-width: 35.2rem;
        }
        @include media-only-mobile-landscape {
          max-width: 30rem;
        }
      }

      /*img {
        @include media-sm {
          max-width: 38.6rem;
        };
      }*/
    }

    &.lawyer-3 {
      @extend .ml-sm-auto;

      @include media-sm {
        margin-right: 7.5rem;
      };

      img {
        @include media-sm {
          max-width: 38.8rem;
        };
      }
    }

    &:hover {
      @include media-sm {
        img {
          transform: none;
        }
      };

      .overlay.hover-collapse {
        @include media-sm {
          transform: translateY(0) !important;
        };
      }
    }
  }
}

.content-lawyer {
  @extend .content-page;

  @include media-sm {
    padding: {
      left: 9.3rem - 3.5rem;
      right: 8.2rem;
    }
  };

  header.content {
    @include media-sm {
      padding-left: 2.555556rem + 3.5rem;
    };
  }

  .lawyer-image-wrapper {
    @include media-sm {
      -ms-flex: 0 0 43.2rem;
      flex: 0 0 43.2rem;
      max-width: 43.2rem;
    };
  }

    .image-wrapper {
      @include media-sm {
        margin-bottom: 0;
      };

      img {
        @include media-sm {
          max-width: 43.2rem;
        };
      }
    }

  .lawyer-text-wrapper {
    @include media-sm {
      padding-right: 7rem;
    };
  }

  .lawyer-text {
    @include media-sm {
      margin-left: 0;

      padding: {
        top: 4.15rem;
        bottom: 4.15rem;
      }
    };
    @include media-max-sm {
      padding-left: 2.1875rem;
      padding-right: 2.1875rem;
    };


    &.experience {
      .read-more {
        &[aria-expanded="true"] {
          @extend .d-none;
        }
      }
    }
  }

  .contact {
    @include media-sm {
      padding-top: 0;
      padding-bottom: 4.4rem;
    };
  }
}

.content-index {
  @extend .content-page;

  @include media-sm {
    padding-right: 14.3rem;
  };

  .image-wrapper {
    @include media-sm {
      margin-top: 3.2rem;
    };

    img {
      @include media-sm {
        width: 36rem;
      };
    }
  }
}

.content-category {
  @extend .content-page;

  @include media-sm {
    padding: {
      left: 2.555556rem;
      right: 2.555556rem;
    }
  };

  .image-wrapper {
    @include media-sm {
      margin-bottom: 2.6rem;
    };

    img {
      @include media-sm {
        width: auto;
      };
    }

    .overlay {
      @include media-sm {
        padding-top: 1.8rem;
        padding-bottom: 2.8rem;
      };

      h1,
      .h1 {
        @extend .text-center;

        float: left;

        font-family: map-get($font-family, 'secondary');
        @include font-size(41.927);
        text-transform: uppercase;
        letter-spacing: -.078125rem;
        line-height: .825;

        padding-right: 0;
        margin-bottom: .4rem;

        @include media-sm {
          @include font-size(98.49, 18);
          letter-spacing: -.194444rem;

          padding-left: 11.1rem;
          margin-bottom: 1.3rem;
        };

        span {
          @extend .d-block;

          font-family: map-get($font-family, 'primary');
          font-weight: map-get($font-weight, 'semibold');
          @include font-size(68.06);

          margin-right: -1.75rem;

          @include media-sm {
            @include font-size(159.87, 18);
            letter-spacing: -0.011111rem;

            margin-right: -3.4rem;
          };

          &::before {
            @extend .d-none;
          }
        }
      }
    }
  }

  .category-description {
    @include media-sm {
      padding-top: 0;
      padding-bottom: .6rem;
      padding-left: 2.555556rem + 22.1rem;

      margin-left: 0;
    };
  }

  .article {
    margin-left: 0;

    @include media-sm {
      padding-top: .8rem;
      padding-left: 14.5rem;
      padding-right: 11.7rem;
    };

    &:first-child {
      @include media-sm {
        padding-top: 8.4rem;
      };
    }
  }

  .category-navigation {
    @include media-sm {
      margin-left: 0;
    };
  }
}

.content-contact {
  @extend .content-page;

  .image-wrapper {
    img {
      @include media-sm {
        max-width: 78.2rem;
        width: auto;
      };
    }
  }

  .address {
    @include media-sm {
      padding-top: .6rem;
      padding-bottom: 20.3rem;
    };
  }
}

.content-checkout {
  @extend .content-page;

  .content {
    margin-left: 0;
    @include media-sm {
      padding-right: 8.5rem;
    };
  }
}

#modal-reload {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(255,255,255,.95);
  top: 0;
  left: 0;
  right: 0;

  p {
    color: #c84b1f;
    @include font-size(20, 12);
  }
}
