#footer {
  @extend section;

  position: relative;
  overflow: hidden;

  padding: {
    left: 1.40625rem;
    right: 1.40625rem;
  }

  @include media-sm {
    padding: {
      left: 6.6rem;
      right: 6.6rem;
    }
  };

  &::before,
  &::after {
    content: 'Life \'s';
    display: block;

    position: absolute;
    bottom: 1.555rem;
    left: 25.2%;

    font-family: map-get($font-family, 'secondary');
    font-weight: map-get($font-weight, 'light');
    @include font-size(30.05);
    color: #eae4e2;
    text-transform: uppercase;

    z-index: -1;

    @include media-sm {
      left: 31.5%;
      //bottom: 3.055rem;
      bottom: 2.4rem;

      @include font-size(70.06, 18);
    };

    @include media-only-mobile-landscape {
      left: 46.5%;
    }
  }

  &::after {
    content: 'Good';

    bottom: -1.904531rem;
    left: 27.7%;

    font-family: map-get($font-family, 'primary');
    font-weight: map-get($font-weight, 'semibold');
    @include font-size(48.79);

    @include media-sm {
      left: 32.5%;
      bottom: -3rem;

      @include font-size(114.6, 18);
    };

    @include media-only-mobile-landscape {
      left: 47.5%;
    }
  }

  .content {
    padding: {
      top: 4.1rem;
      bottom: 5.6rem;
    }

    @include media-sm {
      padding: {
        top: 4.4rem;
        bottom: 2.2rem;
      }
    };
  }

  * + .copyright {
    margin-top: 2.5rem;
  }
}
