.container {
  &,
  &-fluid {
    padding: {
      left: 2.1875rem;
      right: 2.1875rem;
    }

    @include media-sm {
      padding: {
        left: 2.555556rem;
        right: 2.555556rem;
      }
    };

    @at-root {
      .row {
        margin: {
          left: -2.1875rem;
          right: -2.1875rem;
        }

        @include media-sm {
          margin: {
            left: -2.555556rem;
            right: -2.555556rem;
          }
        };
      }

      .col,
      [class*="col-"] {
        padding: {
          left: 2.1875rem;
          right: 2.1875rem;
        }

        @include media-sm {
          padding: {
            left: 2.555556rem;
            right: 2.555556rem;
          }
        };
      }

      .small-gutters {
        padding: {
          left: 1.40625rem;
          right: 1.40625rem;
        }

        .row {
          margin: {
            left: -1.40625rem;
            right: -1.40625rem;
          }

          & > .col,
          & > [class*="col-"] {
            padding: {
              left: 1.40625rem;
              right: 1.40625rem;
            }
          }
        }


      }

      .mini-gutters {
        padding: {
          left: .75rem;
          right: .75rem;
        }

        @include media-sm {
          padding: {
            left: 1.15rem;
            right: 1.15rem;
          }
        };

        .row {
          margin: {
            left: -.75rem;
            right: -.75rem;
          }

          @include media-sm {
            margin: {
              left: -1.15rem;
              right: -1.15rem;
            }
          };

          & > .col,
          & > [class*="col-"] {
            padding: {
              left: .75rem;
              right: .75rem;
            }

            @include media-sm {
              padding: {
                left: 1.15rem;
                right: 1.15rem;
              }
            };
          }
        }
      }
    }
  }

  @include media-sm {
    max-width: 59.375rem;
  };
}
