#header {
  @extend .container-fluid;
  @extend .fixed-top;

  padding: {
    top: 1.5625rem;
    bottom: 1.5625rem;
    // bottom: 1.40625rem;  // precise px amount according to layout viewed in Adobe Illustrator
  }

  background: white;

  z-index: 3;

  @include media-sm {
    padding: {
      top: 3.777778rem;
      bottom: 3.777778rem;
    }
    background: transparent;
  };

  &.visible {
    // padding-top: 1.5625rem;
    // padding-bottom: 1.5625rem;

    background: rgba(white,.75);
  }

  .admin-bar & {
    top: 46px;

    @media (min-width: 783px) {
      top: 32px;
    }
  }

  @at-root {
    #logo {
      img {
        // width: 8.59375rem;
        width: 5.729167rem;

        @include media-sm {
          // width: 10.833333rem;
          width: 7.222222rem;
        };

        .home & {
          @include media-sm {
            // width: 10.833333rem;
            width: 10.5rem;
          };
        }
      }
    }
  }
}
