.type-product {
  @extend #shop;

  padding-bottom: 5rem;

  @include media-sm {
    padding-bottom: 16.3rem;
  };

  header.content {
    @include media-sm {
      padding-bottom: 1.8rem;
    };
  }

  h2,
  .h2 {
    text-transform: none;
    font-weight: map-get($font-weight, 'primary');
    font-family: map-get($font-family, 'secondary');
    letter-spacing: 0;

    @include media-sm {
      @include font-size(29.28, 18);
      margin-bottom: 1.5rem;
    };

    @include media-only-mobile-landscape {
      @include font-size(29.28, 15);
    }
  }

  h3,
  .h3 {
    strong {
      text-transform: uppercase;
      font-weight: map-get($font-weight, 'primary');
      font-family: map-get($font-family, 'secondary');

      @include media-sm {
        @include font-size(36, 18);
      };
      @include media-only-mobile-landscape {
        @include font-size(36, 16);
      }
    }
    @include media-only-mobile-landscape {
      @include font-size(24, 14);
    }
  }

  .add_to_cart_button {
    @extend .btn;
    @extend .btn-primary;

    @include media-sm {
      @include font-size(25.91, 18);
      font-weight: map-get($font-weight, 'bold');
    };

    @include media-only-mobile-landscape {
      @include font-size(25.91, 13);
      font-weight: map-get($font-weight, 'bold');
    }

  }

  .image-wrapper {
    @extend .order-1;
    @extend .order-sm-2;

    @include media-sm {
      padding-top: 6.6rem;
      padding-bottom: 5.4rem;

      margin-right: -8.5rem + 2.555556rem;
    };

    img {
      width: 43.4rem;
    }
  }

  .content {
    @extend .order-2;
    @extend .order-sm-1;

    padding-bottom: 3.4rem;

    p,
    .p,
    li {
      @include media-sm {
        @include font-size(24, 18);
        line-height: 1.375;
      };
      @include media-only-mobile-landscape {
        @include font-size(24, 14);
      }
    }

    ul {
      margin-top: 4.1rem;
    }
  }

  .payments-block {
    padding-bottom: 3.4rem;

    @include media-sm {
      padding-top: .2rem;
    };
  }
}
