/*body.woocommerce-page {
  @include media-max-sm {
    #shop {
      p,
      .p,
      .product-content p,
      .product-content .p1,
      .product-content .p1 {
        @include font-size(17, 17);
      }
    }
  }
}*/
#shop {
  @extend .template-shop-link;

  @include media-sm {
    padding-left: 14rem;
    padding-right: 17.24444rem - 8.744444rem;
  };

  .header-shop {
    @include media-sm {
      margin-left: -7.5rem;
      margin-right: (17.24444rem - 8.744444rem) * -1;
    };
  }

  header.content {
    margin-bottom: 0;
    // background: rgba(map-get($color, 'secondary'), .75);

    @include media-sm {
      margin-top: 1.8rem;
      margin-bottom: .3rem;
      padding: 1.8rem 8.5rem 0rem 7.5rem;
    };

    .shop-slogan {
      @include media-sm {
        padding-right: 0rem;
      };
    }

    h1,
    .h1 {
      @extend .text-uppercase;
    }

    h2,
    .h2 {
      @include media-sm {
        padding: {
          left: .8rem;
          right: 1.75rem;
        }
      };
    }
  }

  .content {
    @include media-sm{
      padding-top: 6.6rem;
      padding-bottom: 5.4rem;
    };

    p,
    .p {

      @include media-sm {
        @include font-size(29.2, 18);
      };

      @include media-max-sm {
        @include font-size(17, 17);
        letter-spacing: .04rem;
      }
    }

  }

  .products {
    margin-bottom: 6rem;

    @include media-sm {
      padding: {
        //left: 2.555556rem + 1.755556rem;
        left: 2.555556rem + 1.155556rem;
        right: 2.555556rem + 1.355556rem;
        bottom: 1.2rem;
      }

      margin-bottom: 0;
    };
  }

    .product {
      margin-bottom: 6rem + 3.092969rem;
      background: #f6f4f3;

      @include media-sm {
        border-left: 1.255556rem solid white;
        border-right: 1.255556rem solid white;

        padding: {
          top: 2.8rem;
          bottom: 3.1rem;
          left: 4.3rem;
          right: .7rem;
        }

        margin-bottom: 4.5rem + 2.485rem;
      };

      &:first-child {
        @include media-sm {
          padding: {
            top: 2.8rem;
          }
        };
      }

      &:last-child {
        margin-bottom: 0;

        @include media-sm {
          // margin-bottom: 4.5rem;
          margin-bottom: 4.5rem + 2.485rem;
        };
      }

      .image-wrapper {
        img {
          width: 100%;

          @include media-sm {
            width: 15.8rem;
          };
        }
      }

      h3,
      .h3 {
        @include media-sm {
          @include font-size(29.28, 18);
        };
      }

      p,
      .p {
        @include media-sm {
          @include font-size(19.28, 18);
        };

        & + .woocommerce-Price-amount-wrapper {
          @include media-sm {
            margin-top: -.175rem;
          };
        }

        strong {
          @include media-sm {
            @include font-size(24, 18);
            font-weight: map-get($font-weight, 'light');
          };
        }

        @include media-only-mobile-landscape {
          @include font-size(20, 15);
        }
      }

      .woocommerce-Price-amount-wrapper {
        @include media-sm {
          @include font-size(29.28, 18);
        };
      }

      .add_to_cart_button,
      .woocommerce-loop-product__link {
        @extend .btn;
        @extend .btn-primary;

        position: absolute;
        top: 100%;
        right: 0;

        z-index: 1;

        @include media-sm {
          @include font-size(16.19, 18);
          font-weight: map-get($font-weight, 'bold');
        };

        @include media-only-mobile-landscape {
          @include font-size(17, 10);
          font-weight: map-get($font-weight, 'bold');
        }



      }

      &-content {
        @include media-sm {
          padding-left: 2rem;
        };
      }
    }
}

.woocommerce {
  &-tax {
    @include media-sm {
      @include font-size(24, 18);
    };
  }

  &-message {
    @extend .d-none;
  }

  .responsive-table {
    overflow: auto;
  }

  ul.order_details {
    margin-bottom: 1.8rem;
    padding: 0;

    li {
      @extend .d-flex;
      @extend .justify-content-between;

      position: relative;

      // Woocommerce overrides
      padding: 0;
      margin: 0;
      border: 0;
      float: none;
      font-size: inherit;
      text-transform: none;

      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }

      strong {
        // Woocommerce overrides
        display: initial;
        font-size: inherit;
        line-height: inherit;
      }
    }
  }

  .woocommerce-customer-details,
  .woocommerce-order-details,
  .woocommerce-order-downloads {
    margin: 0;
    padding: {
      top: 3.9rem;
      left: 0;
      right: 0;
      bottom: 3.4rem;
    }

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .woocommerce-customer-details {
    address {
      // Woocommerce overrides
      border: 0;
      padding: 0;
      margin: 0;
    }
  }
}

.woocommerce-order-pay {
  .form-mandatory {
    display: none;
  }
}