.woocommerce-NoticeGroup {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 4;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
  li {
    line-height: 1.5;
  }

  &:last-child {
    padding: {
      bottom: 1em
    }
  }
}

.woocommerce-thankyou-order-received {
  margin: {
    bottom: 2rem;
  }
}
