[data-animation] {
  transition: opacity 1s cubic-bezier(.59,.01,.28,1),
              transform 1s cubic-bezier(.59,.01,.28,1),
              visibility 1s cubic-bezier(.59,.01,.28,1);
  &.fade {
    opacity: 0;
    visibility: hidden;
  }

  &.move-in {
    transform: translateY(7.8125rem);

    @include media-sm {
      // transform: translateY(5.555555rem);
      transform: translateY(11.111111rem);
    };
  }

  &.active {
    &.fade {
      opacity: 1;
      visibility: visible;
    }

    &.move-in {
      transform: translateY(0);
    }
  }
}
