.owl {
  &-stage {
    @extend .row;
    @extend .no-gutters;

    flex-wrap: nowrap;
    margin-right: 0;
    margin-left: 0;
  }

  &-carousel {
    .owl-item {
      padding: 0 !important;
      .item {
        @extend .h-100;
        width: 22rem !important;
        //padding-left: 5rem;
        padding-left: 2rem;
        padding-right: 1.25rem;

        @include media-sm {
          width: 65rem !important;
          border-right: 1px solid white;
          padding-right: 10rem;
          padding-left: 0;
        };

        h2,
        .h2 {
          @include media-sm {
            @include font-size(34, 18);
            margin-bottom: .2rem;
          };
        }

        p,
        .p {
          @include media-sm {
            @include font-size(33.68, 18);
            font-weight: map-get($font-weight, 'light');
          };
        }
      }
    }

  }

  &-item {
    @extend .col-auto;
  }

  &-carousel &-dot {
    &s {
      @extend .text-center;
    }

    span {
      @extend .d-inline-block;

      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      margin: 0 .5rem;

      background: black;

      transition: 850ms background ease;

      &::before {
        display: none !important;
      }
    }

    &:hover,
    &:focus,
    &.active,
    &:active {
      span {
        background: white;
      }
    }
  }
}

@include media-max-sm {
  .owl-dots {
    position: absolute;
    bottom: 2.2rem;
    left: 0;
    right: 0;
  }
}
