[data-toggle="hover-collapse"] {
  @include media-sm {
    display: none !important;
  };
}

.hover-collapse {
  @include media-sm {
    transition: transform 850ms cubic-bezier(0.43, 0.09, 0, 1) !important;
  };
}
