#language-switch {
  @extend .text-left;

  position: absolute;
  top: 1.09375rem;
  left: 1.25rem;
  right: 2.1875rem;

  font-family: map-get($font-family, 'secondary');
  font-weight: map-get($font-weight, 'light');
  @include font-size(17.2);

  @include media-sm {
    top: 1.4rem;
    left: 1.9rem;
    @include font-size(36, 18);
  };

  ul {
    @extend .inline-nav;

    li {
      &.current-lang {
        a {
          color: map-get($color_text, 'primary');
        }
      }
      &:last-child {
        margin-right: 0;

        &::after {
          @extend .d-none;
        }
      }
    }
  }
}
