#logo img {
  .mini-nav-ready & {
    transition: width 850ms cubic-bezier(0.43, 0.09, 0, 1);
  }

  .mini-nav & {
    // width: 8.59375rem;
    width: 5.729167rem;
    @include media-max-sm {
      width: 3.15rem;
    }
  }
}

#header {
  .mini-nav-ready & {
    transition: all 850ms cubic-bezier(0.43, 0.09, 0, 1);
  }

  .mini-nav & {
    padding-top: 1.5625rem;
    padding-bottom: 1.5625rem;

    background: rgba(white,.75);
  }
}

.menu-primary-trigger {
  transition: all 850ms cubic-bezier(0.43, 0.09, 0, 1);
  .mini-nav & {
    // width: 8.59375rem;
    @include media-max-sm {
      transition: all 850ms cubic-bezier(0.43, 0.09, 0, 1);
      font-size: 1.05rem;
    }
  }
}