/*
.overlay {
  &-multiply {
    @extend .w-100;
    @extend .h-100;

    position: absolute;
    top: 0;
    left: 0;

    mix-blend-mode: multiply;

    z-index: 1;

    // .overlay & {
    //   background: map-get($color, 'secondary') !important;
    // }
    // .overlay-orange & {
    //   background: map-get($color, 'primary') !important;
    // }
    // .overlay-light-orange & {
    //   background: map-get($color, 'third') !important;
    // }
  }

  .mix-blend-mode & {
    // mix-blend-mode: multiply;
  }
}
*/
/*
.multiply-red {
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(185, 129, 39, 1);
    mix-blend-mode: multiply !important;
    width: 100%;
    height: 100%;
    //background-repeat: repeat !important;
    //mix-blend-mode: multiply !important;
    //background-image: url('assets/img/bg-red.svg') !important;
    //background-color: red;
    //background-blend-mode: multiply;
  }
}*/
.overlay {
  mix-blend-mode: multiply !important;
  &.background-off {
    mix-blend-mode: normal !important;
    background: transparent !important;
    * {
      opacity: 1;
    }
  }
  * {
    opacity: 0;
  }
}

.overlay-empty {
  mix-blend-mode: multiply !important;
}