.product {
  &-animation {
    &-container {
      position: absolute;
      top: 5rem;
      bottom: 5.9rem;
      left: 0;
      right: 0;

      padding: 0 9rem 0 6.2rem;

      z-index: 1;

      & > .row {
        @extend .h-100;
        overflow: hidden;
      }
    }

    &-slide {
      &-wrapper {
        @extend .h-100;

        padding-left: 0;
        padding-right: 0;

        background: white;

        transform: translateX(100%);
        transition: 300ms ease transform;
        transition-delay: 850ms;

        .active & {
          transform: translateX(0);
          transition-delay: 3s;
        }
      }

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      z-index: 1;
      overflow: hidden;

      transition: 300ms ease transform;

      &:nth-child(1) {
        transform: translate(0%, 0%);

        .step-2 & {
          transform: translate(0, -100%);
        }

        .step-3 & {
          transform: translate(-100%, 0%);
        }
      }

      &:nth-child(2) {
        transform: translate(0, 100%);

        .step-1 & {
          z-index: -1;
        }

        .step-2 & {
          transform: translate(0%, 0%);
        }

        .step-3 & {
          transform: translate(-100%, 0%);
        }
      }

      &:nth-child(3) {
        transform: translate(100%, 0%);

        .step-3 & {
          transform: translate(0%, 0%);
        }
      }
    }
  }
}
