// Responsive breakpoints
@mixin media-xs {
	@media (min-width: map-get($breakpoints, 'xs')) {
		@content;
	}
}

@mixin media-sm {
	@media (min-width: map-get($breakpoints, 'sm')) {
		@content;
	}
}

@mixin media-md {
	@media (min-width: map-get($breakpoints, 'md')) {
		@content;
	}
}

@mixin media-lg {
	@media (min-width: map-get($breakpoints, 'lg')) {
		@content;
	}
}

@mixin media-xl {
	@media (min-width: map-get($breakpoints, 'xl')) {
		@content;
	}
}

@mixin media-xxl {
	@media (min-width: map-get($breakpoints, 'xxl')) {
		@content;
	}
}

// Responsive breakpoints for min and max width
@mixin media-only-xs {
	@media (min-width: map-get($breakpoints, 'xs')) and (max-width: map-get($breakpoints, 'sm'))  {
		@content;
	}
}

@mixin media-only-sm {
	@media (min-width: map-get($breakpoints, 'sm'))  and (max-width: map-get($breakpoints, 'md')) {
		@content;
	}
}

@mixin media-only-md {
	@media (min-width: map-get($breakpoints, 'md'))  and (max-width: map-get($breakpoints, 'lg')) {
		@content;
	}
}

@mixin media-only-lg {
	@media (min-width: map-get($breakpoints, 'lg'))  and (max-width: map-get($breakpoints, 'xl')) {
		@content;
	}
}

@mixin media-only-ipad {
	@media (min-width: map-get($breakpoints, 'md'))  and (max-width: map-get($breakpoints, 'ipad')) {
		@content;
	}
}

@mixin media-only-mobile-landscape {
	@media (orientation: landscape) and (max-width: map-get($breakpoints, 'lg') ){
		@content;
	}
}

// Responsive breakpoints for max width
@mixin media-max-sm {
	@media (max-width: map-get($breakpoints, 'sm')) {
		@content;
	}
}

@mixin media-max-md {
	@media (max-width: map-get($breakpoints, 'md')) {
		@content;
	}
}


// Rem output with px fallback
@mixin font-size($sizeValue: 1, $viewPortFactor: 12.8) {
	font-size: $sizeValue * 1px;
	font-size: ($sizeValue * 1rem) / $viewPortFactor;	// 12.8 => 4vw in pixels without unit on 320px mobile view (320px / 100 * 4vw == 12.8)

	// @include media-xs {
	// 	font-size: ($sizeValue * 1rem) / 12.5;	// 12.5 => 1.5vw in pixels without unit on 500px mobile view (500px / 100 * 2.5vw  = 12.5)
	// };
	//
	// @include media-sm {
	// 	font-size: ($sizeValue * 1rem) / 8.64;	// 8.64 => 1.5vw in pixels without unit on 576px mobile view (576px / 100 * 1.5vw  = 8.64)
	// };
	//
	// @include media-lg {
	// 	font-size: ($sizeValue * 1rem) / 12.4;	// 12.8 => 1.25vw in pixels without unit on 992px tablet view (992px / 100 * 1.25vw  = 12.4)
	// };
	//
	// @include media-sm {
	// 	font-size: ($sizeValue * 1rem) / 12;	// 12 => 1vw in pixels without unit on 1200px desktop view (1200px / 100 * 1vw  = 12)
	// };
}
