#awards {
  padding: {
    bottom: 5.625rem - 2.34375rem;
  }

  text-transform: uppercase;

  @include media-sm {
    padding: {
      top: 3.8em;
      bottom: 6rem;
      left: 10.4rem;
      right: 5rem;
    }
  };

  header.content {
    @extend .align-self-center;

    @include media-sm {
      padding-top: 2.7rem;
      padding-left: 4.8rem
    };
  }

  .content {
    padding: {
      top: 2.3rem;
      bottom: 2.3rem;
    }

    @include media-sm {
      padding: {
        top: 0;
        bottom: 0;
      }
    };
  }

  a {
    color: map-get($color_text, 'text');

    &:hover,
    &:focus {
      color: map-get($color_text, 'text');

      h2,
      .h2,
      h1,
      .h1 {
        color: inherit;
      }

      span {
        color: map-get($color_text, 'primary');

        &::before,
        &::after {
          color: map-get($color_text, 'primary');
        }
      }
    }
  }

  h2,
  .h2 {
    font-family: map-get($font-family, 'secondary');
    font-weight: map-get($font-weight, 'primary');
    @include font-size(25.19);
    letter-spacing: 0;

    margin-bottom: 0;

    & + h1,
    & + .h1 {
      margin-top: -1.25rem;

      @include media-sm {
        margin-top: -1.6rem;
      };
    }

    @include media-sm {
      @include font-size(44.6, 18);
    };
  }

  h1,
  .h1 {
    font-family: map-get($font-family, 'primary');
    font-weight: map-get($font-weight, 'semibold');
    @include font-size(64.72);
    letter-spacing: -.078125rem;

    padding-left: .4ch;

    @include media-sm {
      @include font-size(114.6, 18);
    };
  }

  span {
    @extend .mohr-icons;
    @extend .icon-arrow-down;

    position: relative;

    font-weight: map-get($font-weight, 'semibold');
    color: map-get($color-text, 'text');
    letter-spacing: .1953125rem;

    transition: all 300ms ease;

    @include media-sm {
      position: absolute;
      right: 2rem;
      bottom: 3.5rem;

      @include font-size(22.6, 18);
      letter-spacing: .166667rem;

      z-index: 1;
    };

    &::before {
      position: absolute;
      bottom: 140%;
      left: -7%;

      @include font-size(53.76);    // Using weird number to get to 4.2rem
      color: map-get($color-text, 'text');

      transition: all 300ms ease;

      z-index: 1;

      @include media-sm {
        bottom: 180%;
        left: auto;
        right: 8%;

        @include font-size(5.1 * 18, 18);
      };
    }

    &::after {
      @include media-sm {
        content: $icon-dotted-line;

        display: block;

        position: absolute;
        top: 49%;
        right: 100%;

        color: map-get($color-text, 'text');

        transform: translateY(-50%);
        transition: all 300ms ease;

        z-index: 1;
        pointer-events: none;
      };
    }
  }

  img {
    @include media-sm {
      max-width: 40.8rem;
    };
  }
}
