.cards-block {
  padding: {
    left: 2.1875rem + .9375rem;
    right: 2.1875rem + .9375rem;
  }

  margin-bottom: 6.875rem;

  @include media-sm {
    padding: {
      left: 17.3rem;
      right: 9.9rem;
    }

    margin-bottom: 7.6rem;
  };
}

  .card {
    border: 0;
    border-radius: 0;
    margin-bottom: 6.875rem;

    @include media-sm {
      -ms-flex: 0 0 37.8888889rem;
      flex: 0 0 37.8888889rem;
      max-width: 37.8888889rem;

      margin-top: 25.6rem;
      margin-bottom: -39.4rem;
    };

    .content {
      padding-bottom: 1.6rem;
      background: #f6f4f3;

      @include media-sm {
        padding: {
          top: 6.1rem;
          left: 5.5rem;
          bottom: 7.1rem;
        }
      };
    }

    h2,
    .h2 {
      font-family: map-get($font-family, 'secondary');
      font-weight: map-get($font-weight, 'primary');
      letter-spacing: 0;

      @include media-sm {
        @include font-size(32.88, 18);
        letter-spacing: -.027778rem;

        margin-bottom: .8rem;
      };
    }

    p,
    .p {
      font-family: map-get($font-family, 'secondary');
      color: map-get($color-text, 'primary');
      line-height: 1.25;
      letter-spacing: 0;

      @include media-sm {
        @include font-size(26.88, 18);
        line-height: 1.3;
      };
    }

    &-image {
      @extend .align-self-sm-end;

      img {
        width: 100%;
      }
    }

    &:first-child {
      @include media-sm {
        margin-top: 0;
      };
    }

    &:nth-child(even) {
      @extend .ml-sm-auto;

      @include media-sm {
        -ms-flex: 0 0 35.333333rem;
        flex: 0 0 35.333333rem;
        max-width: 35.333333rem;
      };

      .content {
        @include media-sm {
          padding: {
            top: 7.4rem;
            left: 2.3rem;
            bottom: 3.1rem;
          }
        };
      }
    }

    &:nth-child(odd) {
      @extend .mr-sm-auto;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
