#eyecatcher {
  @include media-sm {
    position: relative;
  };

  &-image {
    width: 100%;

    @extend .image-wrapper;

    img {
      width: 100%;
    }

    .overlay {
      background: rgba(map-get($color, 'secondary'), 1);
      @supports not(mix-blend-mode: multiply) {
        background: rgba(map-get($color, 'secondary'), .72);
      }

      @include media-sm {
        // bottom: 16%;
        bottom: 10.5%;

        margin-left: 0;
        padding: {
          bottom: 11.6rem;
        }
      };

      &-link {
        @extend .mohr-icons;
        @extend .icon-arrow-eyecatcher;
        @extend .d-none;
        @extend .d-sm-block;

        position: absolute;
        // bottom: 8%;
        bottom: 6%;
        // left: 50.7%;
        left: 50.5%;

        // @include font-size((5.3 * 18), 18);
        @include font-size((3.95 * 18), 18);
        color: white;

        transform: translateX(-50%);

        z-index: 1;
      }

      h1,
      .h1 {
        @extend .text-center;

        font-family: map-get($font-family, 'secondary');
        @include font-size(26.666667);
        color: white;
        line-height: .84;
        letter-spacing: 0;
        text-transform: uppercase;

        padding-right: 2.5rem;

        @include media-sm {
          margin-top: 0;
          // padding-left: 15.7rem;
          padding-left: 17.8rem;
          text-align: left !important;

          @include font-size(90, 18);
          // letter-spacing: -.055556rem;
          letter-spacing: -.02rem;
        };

        strong {
          @extend .d-block;

          font-family: map-get($font-family, 'primary');
          font-weight: map-get($font-weight, 'semibold');
          @include font-size(49.95);

          margin-right: -1.75rem;

          @include media-sm {
            margin-left: -2.35rem;
            @include font-size(168.54, 18);
          };
        }
      }
    }
  };

  &-content {
    padding: {
      top: 2.734375rem;
      bottom: 2.34375rem;
    }
    color: white;
    background: rgba(map-get($color, 'secondary'), 1);
    @supports not(mix-blend-mode: multiply) {
      background: rgba(map-get($color, 'secondary'), .72);
    }

    @include media-sm {
      position: absolute;
      // top: 45.25%;
      //top: 50.9%;
      top: 51.8%;
      // left: 59.6%;
      left: 59.7%;
      // width: 25.7rem;
      width: 28.3rem;

      // padding: 1.46rem 1.4rem 1.66rem 3.1rem;
      padding: 1.46rem 3.2rem 1.66rem 2.85rem;

      background: transparent;

      z-index: 2;
    };
  }

  h2,
  .h2 {
    font-weight: map-get($font-weight, 'semibold');
    @include font-size(21.74);

    margin-bottom: 1.1rem;

    & + h2,
    & + .h2 {
      margin-top: 2.1rem;
    }

    @include media-sm {
      @include font-size(22.6, 18);
      letter-spacing: .083333rem;
      margin-bottom: .5rem;

      &.headline {
        @include font-size(45, 18);

        letter-spacing: .166667rem;
        margin-top: 0;
        margin-bottom: 1rem;
      }
    };
    @include media-max-sm {
      &.headline {
        margin-top: -1rem;
        font-size: 2.5rem;
      }
    }
  }

  p,
  .p {
    font-weight: map-get($font-weight, 'semibold');
    @include font-size(13.79);

    @include media-sm {
      // @include font-size(18.6, 18);
      @include font-size(23, 18);
      line-height: 1.25;
      margin-bottom: .5rem;
    };
  }
}
