.inline-video-block {
  @extend .mr-sm-0;

  position: relative;

  height: 28.125rem;
  padding: 0;

  overflow: hidden;
  margin-right: 4rem !important;

  @include media-sm {
    width: 62.222222rem;
    height: 40rem;
  };

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
