#rechtsanwalte {
  position: relative;

  .lawyer {
    min-height: 37.5rem;
    overflow: hidden;

    img {
      transition: all 2100ms cubic-bezier(0.43, 0.09, 0, 1);
    }

    .overlay {
      @extend .d-sm-flex;
      @extend .flex-sm-column;
      @extend .justify-content-sm-end;

      padding: {
        top: 1rem;
        bottom: 1rem;
      }


      @include media-sm {
        height: 27.6%;
        padding: {
          left: 6.1rem;
          right: 10rem;
          top: 0;
          bottom: 0;
        }
      };

      @include media-only-ipad {
        padding: {
          left: 5rem;
          right: 3rem;
          top: 0;
          bottom: 0;
        }
      };

      @include media-only-sm {
        padding: {
          left: 4.1rem;
          right: 4rem;
        }
      }

      @include media-only-md {
        padding: {
          left: 4.1rem;
          right: 4rem;
        }
      }

      h2,
      .h2 {
        font-weight: map-get($font-weight, 'semibold');

        @include media-sm {
          @include font-size(19.8, 18);
        };
        @include media-only-ipad {
          @include font-size(18, 11);
        }
      }

      p,
      .p {
        @extend .d-inline;
        @extend .d-sm-block;

        color: white;
        @include media-only-ipad {
          @include font-size(18, 12);
        }
      }

      span {
        @extend .d-block;
        @extend .icon-arrow-right-long;

        margin-top: 1.5rem;
        margin-bottom: 2rem;

        overflow: hidden;

        @include media-only-ipad {
          @include font-size(21, 18);
        }

        @include font-size(15.26, 18);
        text-transform: uppercase;
        letter-spacing: .166667rem;

        &::before {
          padding: {
            left: 0;
            right: .6rem;
          }
          margin-left: -9rem;
        }
      }
    }

    &-teaser {
      @extend .h-100;

      padding: {
        top: 4.35 / 2 * 1rem;
        bottom: 4.35 / 2 * 1rem;
      }

      transition: opacity 850ms cubic-bezier(0.43, 0.09, 0, 1), visibility 850ms cubic-bezier(0.43, 0.09, 0, 1);

      @include media-sm {
        padding-top: 4.35rem;
        opacity: 0;
        visibility: hidden;
      };
      @include media-only-ipad {
        padding-top: 2.75rem;
      };
    }
    &:hover {
      @include media-sm {
        img {
          transform: scale(1.2);
        }

        .lawyer-teaser {
          opacity: 1;
          visibility: visible;
        }
      };
    }
  }

  aside {
    @extend .text-center;
    width: 100%;

    @include media-sm {
      width: auto;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      z-index: 1;
    };

    a {
      @extend .d-block;
      @extend .read-more;
      @extend .icon-arrow-right-3;
      @include font-size(22);

      padding: 3.3rem 1.7rem 3.3rem 1.2rem;

      font-weight: map-get($font-weight, 'light');
      color: white;

      background: rgba(map-get($color, 'primary'), 1);
      @supports not(mix-blend-mode: multiply) {
        background: rgba(map-get($color, 'primary'), .72);
      }

      @include media-sm {
        @include font-size(27.19, 18);
        letter-spacing: .166667rem;
      };

      &::before {
        @include font-size(18, 20);
        top: -.2rem;
        position: relative;
        @include media-sm {
          @include font-size(18, 18);
          padding-right: .4rem;
          top: 0;
        };
      }
    }
  }
}
