.payments-block {
  @extend .content;

  padding-top: 0 !important;
  padding-bottom: 3.8rem;

  @include media-sm {
    padding-top: 0 !important;
    padding-bottom: 5.4rem;
  };

  .payments {
    padding: 0;
  }

  .payment {
    @extend .align-self-center;

    margin: .5rem 0;

    img {
      width: 7rem;

      &.paypal {
        width: 7.4rem;
      }

      &.visa {
        width: 4.5rem;
      }

      &.american-express {
        width: 3.8rem;
      }

      &.mastercard {
        width: 4.9rem;
      }

      &.sepa {
        width: 6rem;
      }

      &.rechnung {
        width: 6.4rem;
      }
    }
  }

  .about_paypal {
    @extend .d-none;
  }
}
