section {
  @extend .container-fluid;

  @at-root {
    .content {
      padding: {
        top: 3.90625rem;
        bottom: 3.4rem;
      }

      @include media-sm {
        padding: {
          top: 8.4rem;
          bottom: 7.2rem;
        }
      };
    }

    .image-wrapper {
      position: relative;
      padding: 0;

      .image-equalizer {
        height: 37.5rem;
        // height: 28.125rem;
        overflow: hidden;

        img {
          max-width: none;
          height: 100%;

          margin-left: 50%;
          transform: translateX(-50%);
        }

        @include media-sm {
          height: auto;
          overflow: auto;

          img {
            max-width: 100%;
            height: auto;

            margin-left: 0;
            transform: none;
          }
        };
      }

      .overlay {
        &,
        &-empty {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;

          min-width: 90%;
          min-height: 3.90625rem;

          background: rgba(map-get($color, 'primary'), 1);
          @supports not(mix-blend-mode: multiply) {
            background: rgba(map-get($color, 'primary'), .72);
          }

          z-index: 1;

          @include media-sm {
            min-width: 0;
            min-height: 6.93rem;
          };
        }

        min-height: 0;

        padding: {
          top: 1.5625rem;
          bottom: 1.5625rem;
        };

        color: white;

        @include media-sm {
          padding: {
            top: 4.5rem;
            bottom: 6.5rem;
          }
        };

        h1,
        .h1 {
          font-family: map-get($font-family, 'primary');
          font-weight: map-get($font-weight, 'semibold');
          @include font-size(40);
          line-height: .875;

          padding-left: .5rem;
          margin-bottom: 2.5rem;

          @include media-sm {
            @include font-size(114.6, 18);
            letter-spacing: .055556rem;
            line-height: .825;

            padding-left: 2.75rem;
            margin: {
              bottom: 3.8rem;
            }
          };

          &:last-child {
            margin-bottom: 0;
          }
        }

        h2,
        .h2,
        p,
        .p {
          @include font-size(16);
        }

        h2,
        .h2 {
          font-weight: map-get($font-weight, 'light');
          margin-bottom: 0.1rem;

          @include media-sm {
            @include font-size(18, 18);
            margin-bottom: 0.5rem;
          };
          @include media-only-ipad {
            @include font-size(25, 18);
          };
        }

        p,
        .p {
          // font-family: map-get($font-family, 'secondary');
          font-weight: map-get($font-weight, 'light');
          line-height: 1.4;
          letter-spacing: .078125rem;

          margin: 0;

          @include media-sm {
            @include font-size(18, 18);
          };
          @include media-only-ipad {
            @include font-size(25, 18);
          };
        }

        span {
          @extend .mohr-icons;
          @extend .icon-arrow-right;

          color: white;

          &::before {
            @include font-size(10.24);    // Using weird number to get to 0.8rem
            padding-left: 1.4rem;
          }
        }

        .subline {
          font-family: map-get($font-family, 'secondary');
          @include font-size(20);
          line-height: .925;
          text-transform: uppercase;

          @include media-sm {
            text-align: left !important;

            font-weight: map-get($font-weight, 'primary');
            @include font-size(44.6, 18);
            letter-spacing: -.022222rem;
            line-height: 0.87;

            margin-top: 0;
            margin-bottom: 0;
            margin-left: -1.5rem;
          };
        }

        &-content {
          @extend .d-none;
          @extend .d-sm-block;
          @include media-only-mobile-landscape {
            opacity: 0 !important;
          }
        }

        &-link {
          @extend .align-self-sm-end;

          @include media-sm {
            padding-top: 14rem;
          };
        }

        &-yellow,
        &-light-orange {
          background: rgba(map-get($color, 'secondary'), 1);
          @supports not(mix-blend-mode: multiply) {
            background: rgba(map-get($color, 'secondary'), .72);
          }

          a {
            &,
            &:hover,
            &:focus {
              color: map-get($color-text, 'text');

              &::before {
                color: map-get($color-text, 'text');
              }
            }
          }
        }

        &-light-orange {
          background: rgba(map-get($color, 'primary'), 1);
          @supports not(mix-blend-mode: multiply) {
            background: rgba(map-get($color, 'primary'), .72);
          }
        }
      }

      .small-gutters & {
        padding: {
          left: 0 !important;
          right: 0 !important;
        };
      }
    }

    .lawyer-text {
      @extend .content;

      padding: {
        top: 2.15rem;
        bottom: 1.85rem;
      }

      h2,
      .h2 {
        @include font-size(20);
        letter-spacing: .15625rem;

        margin-bottom: 2.1rem;

        @include media-sm {
          @include font-size(25.16, 18);
          margin-bottom: 1.65rem;
        };

        @include media-only-mobile-landscape {
          @include font-size(25.16, 13);
        }
      }

      p,
      .p {
        font-family: map-get($font-family, 'secondary');
        font-weight: map-get($font-weight, 'light');
        @include font-size(16);
        line-height: 1.375;

        margin-bottom: 1.8rem;

        @include media-sm {
          @include font-size(20, 18);
          margin-bottom: 1.25rem;
          letter-spacing: .055556rem;
        };

        &:last-child {
          margin-bottom: 0;
        }

        @include media-only-mobile-landscape {
          @include font-size(20, 10);
        }

      }
    }

    .contact {
      padding-top: 1.6rem;

      p,
      .p {
        font-weight: map-get($font-weight, 'primary');
        @include font-size(16);

        @include media-sm {
          @include font-size(20.6, 18);
        };

        @include media-only-mobile-landscape {
          @include font-size(20, 13);
        }
      }

      .phone,
      .e-mail {
        br {
          @extend .d-sm-none;
        }

        a {
          word-break: break-word;
        }
      }

      .v-card {
        @extend .reverse;
        @extend .mohr-icons;
        @extend .icon-right-chevron;

        position: relative;

        &::before {
          position: absolute;
          top: 56.5%;
          transform: translateY(-50%);
          left: 100%;

          padding-left: .8rem;

          @include font-size(10);

          @include media-sm {
            @include font-size(14, 18);
          };
        }
      }
    }

    .experience {
      p,
      .p {
        //@include font-size(18);
        margin-bottom: 2.4rem;

        @include media-sm {
          @include font-size(24, 18);

          margin-bottom: 1.6rem;
        };

        @include media-only-mobile-landscape {
          @include font-size(20, 10);
        }

      }

      .read-more {
        @include font-size(14.29);

        @include media-sm {
          @include font-size(14.29, 18);
          letter-spacing: .166667rem;
        };

        @include media-only-mobile-landscape {
          @include font-size(20, 15);
        }
      }
    }

    .category-description {
      @extend .content;
    }

    .link-collection {
      margin-bottom: 3.4rem;

      @include media-sm {
        margin-bottom: 0;
        margin-left: .6rem;
        padding-top: 3.2rem;
      };

      p,
      .p {
        margin-bottom: 0;

        @include media-only-mobile-landscape {
          @include font-size(21.68, 9);
          line-height: 1.4;
        };
      }

      a {
        color: map-get($color_text, 'text');

        &:hover,
        &:focus,
        &[aria-controls="true"] {
          color: map-get($color_text, 'primary');
        }
      }
    }

      .link-text {
        @include media-sm {
          margin-left: 3.1rem;
        };
        @include media-only-sm {
          margin-left: 0;
        };
        @include media-only-md {
          margin-left: 0;
        };
        @include media-only-lg {
          margin-left: 0;
        };

        p,
        .p {
          @include media-sm {
            @include font-size(21.68, 18);
            line-height: 1.5;

            padding-top: .9rem;
            margin-bottom: -.1rem;
          };
          @include media-only-mobile-landscape {
            @include font-size(21.68, 11);
          };
        }

        a {
          @extend .read-more;
          @extend .d-sm-inline-block;

          @include media-sm {
            @include font-size(15.26, 18);
            margin-top: 1.2rem;
            margin-bottom: 2.9rem;
          };
          @include media-max-sm {
            margin-top: 1.2rem;
            margin-bottom: 1.8rem;
            display: block;
          };
          @include media-only-mobile-landscape {
            @include font-size(21.68, 16);
          };
        }
      }

    .article {
      @extend .content;

      .image-wrapper {
        @include media-sm {
          position: static;
          margin-top: 18.5rem;
        };
        @include media-only-md {
          position: static;
          margin-top: 21.5rem;
        };
        @include media-only-lg {
          position: static;
          margin-top: 21.5rem;
        };
        @include media-only-lg {
          position: static;
          margin-top: 21.5rem;
        };
        @include media-xl {
          position: static;
          margin-top: 21.5rem;
        };

        .overlay-empty {
          @include media-sm {
            bottom: 7.2rem;
            min-height: 17.2rem;
          };
        }
      }

      h2,
      .h2 {
        text-transform: none;

        @include media-sm {
          font-weight: map-get($font-weight, 'primary');
          @include font-size(33.68, 18);
        };
      }

      .date {
        color: map-get($color_text, 'primary');
      }

      &-content {
        @extend .link-text;

        &-wrapper {
          z-index: 2;
        }
      }
    }

    .category-navigation {
      @extend .content;

      .nav-links {
        position: relative;
      }

      .nav-previous,
      .nav-next {
        position: absolute;
        top: 0;
        left: 0;

        width: 50%;
        @include media-max-sm {
          width: 100%;
        };

        z-index: 1;
      }

      .nav-previous {
        left: auto;
        right: 0;

        @extend .text-right;
      }

      .nav-next {
        a {
          &::before {
            padding-right: 0;
            transform: rotate(180deg);

            padding-left: .4rem;

            @include media-sm {
              padding-left: 1rem;
            };
          }
        }
      }
    }

    .address {
      @extend .content;

      p,
      .p {
        @include media-sm {
          margin-bottom: 2.8rem;
        };
      }

      a {
        @include media-sm {
          font-weight: map-get($font-weight, 'light');
          @include font-size(28.9, 18);
          letter-spacing: .166667rem;
          text-transform: uppercase;
        };
      }

      a[href^="mailto"] {
        text-transform: none !important;
        font-size: inherit;
      }

    }
  }

  #header + & {
    padding-top: 8.984375rem;    // Height of fixed header

    @include media-sm {
      padding-top: 14.942778rem;
    };

    .home &,
    .category & {
      @include media-sm {
        padding-top: 0;
      };
    }

    & > .row:first-child > .content:first-child {
      padding-top: 1.6rem;
    }
  }

  &.text-block {
    @include media-sm {
      padding: {
        left: 9.4rem;
        right: 9.4rem;
      }
    };

    .home & {
      .content {
        padding-bottom: 6.5625rem;

        @include media-sm {
          padding-bottom: 8.5rem;
        };
      }
    }

    p {
      @include media-sm {
        @include font-size(30.303, 18);
      };
    }
  }
}

@import "eyecatcher";
@import "awards";
@import "lawyers";
@import "cards";
@import "strategy";
@import "payments";
@import "inline-video";
