.strategie-block {
  @extend .cards-block;
  margin-bottom: 10.46875rem;

  @include media-sm {
    margin-bottom: 0;
  };

  .card {
    background: #f6f4f3;

    @include media-sm {
      &:nth-child(even),
      & {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
      }

      margin-top: 0;
      margin-bottom: 7.6rem;
    };

    .content {
      @include media-sm {
        padding: {
          top: 6.1rem;
          left: 5.5rem;
          bottom: 7.1rem;
        }
      };
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
