.template-digitube {
  .content {
    @extend .text-right;

    padding: {
      top: 3.2rem;
      bottom: 4.325rem;
    }

    @include media-sm {
      text-align: center !important;
      padding: {
        top: 5rem;
        bottom: 7.6rem;
      }
    };
  }

  h1,
  .h1 {
    @extend .text-center;

    font-family: map-get($font-family, 'secondary');
    @include font-size(41.927);
    color: #eae4e2;
    text-transform: uppercase;
    letter-spacing: -.078125rem;
    line-height: .825;

    padding-right: 7.5rem;
    margin-bottom: .4rem;

    @include media-sm {
      @include font-size(98.49, 18);
      letter-spacing: -.194444rem;

      padding-left: 11.1rem;
      // margin-bottom: 1.3rem;
    };

    span {
      @extend .d-block;

      font-family: map-get($font-family, 'primary');
      font-weight: map-get($font-weight, 'semibold');
      @include font-size(68.06);
      color: #ff0000;

      margin-right: -1.75rem;

      @include media-sm {
        @include font-size(159.87, 18);
        letter-spacing: -.011111rem;

        margin-right: -3.4rem;
      };
    }
  }

  a {
    @extend .read-more;

    margin-right: 2.25rem;

    @include media-sm {
      margin-right: -22.35rem;
      letter-spacing: .238889rem;
    };

    &::before {
      padding-right: .7rem;
    }
  }
}
.single-format-standard {
  .content {
    p {
      @include media-max-sm {
        @include font-size(18, 19);
      }
    }
  }
}