.template-e-health {
  @extend .template-praxiskauf;

  .overlay {
    @extend .text-center;

    padding: .5rem 2.1875rem .75rem;

    @include media-sm {
      top: 50%;
      left: 0;

      margin-left: 0;
      padding: {
        left: 4.7rem;
        top: 4.3rem;
        bottom: 6.5rem;
      }

      text-align: left !important;

      transform: translateY(-50%);
    };

    h1,
    .h1 {
      padding: 0;
      margin-top: 0;
      margin-bottom: 4.1rem;

      @include media-sm {
        margin-bottom: 11.7rem;
      };
    }

    span {
      @extend .d-block;

      margin-right: 2.7rem;

      @include media-sm {
        margin-right: 2.1rem;
      };

      &::before {
        left: 28%;
        transform: none;

        @include font-size((12.8 * 3.5));

        @include media-sm {
          left: 30%;
          bottom: 180%;

          @include font-size((18 * 5), 18);
        };
      }
    }

    &-link {
      @include media-sm {
        padding-top: 4.1rem;
      };

      h1,
      .h1 {
        @include media-sm {
          padding-left: 0;
          margin-left: 0;
        };
      }
    }
  }
}
