.template-good-talk {
  @include media-sm {
    position: relative;
  };

  .image-wrapper {
    position: relative;
    min-height: 16.640625rem;

    overflow: hidden;

    @include media-sm {
      overflow: auto;
      min-height: 0;
    };

    img {
      width: 100%;
      //position: absolute;
      //top: 0;
      //left: 0;

      @include media-sm {
        position: static;
      };
    }
  }

  header.overlay {
    @include media-sm {
      background: transparent;
    };
  }

  header.overlay{
    @include media-max-sm {
      position: relative;
    }
  }

  header.overlay.background-off {
    @include media-max-sm {
      position: absolute;
    }
  }

  .overlay {

    padding: {
      top: .925rem;
      bottom: .175rem;
      right: 3.8rem;
    }

    background: rgba(map-get($color, 'secondary'), 1);
    @supports not(mix-blend-mode: multiply) {
      background: rgba(map-get($color, 'secondary'), .72);
    }

    @include media-sm {
      top: 11%;
      bottom: auto;
    };

    &-yellow,
    &-light-orange {
      background: rgba(map-get($color, 'secondary'), 1);
      @supports not(mix-blend-mode: multiply) {
        background: rgba(map-get($color, 'secondary'), .72);
      }
    }

    &-light-orange {
      background: rgba(map-get($color, 'primary'), 1);
      @supports not(mix-blend-mode: multiply) {
        background: rgba(map-get($color, 'primary'), .72);
      }
    }

    h1,
    .h1 {
      @extend .text-center;

      font-family: map-get($font-family, 'secondary');
      @include font-size(20);
      color: map-get($color-text, 'text');
      line-height: .925;
      text-transform: uppercase;

      padding: {
        right: 2.5rem;
      }

      @include media-sm {
        text-align: left !important;

        font-weight: map-get($font-weight, 'primary');
        @include font-size(44.6, 18);
        letter-spacing: -.022222rem;
        line-height: 0.87;

        margin-top: 0;
        padding-left: 7.2rem + 1.85rem;
      };

      strong {
        @extend .d-block;

        font-family: map-get($font-family, 'primary');
        font-weight: map-get($font-weight, 'semibold');
        @include font-size(48);

        margin-right: -2.5rem;

        @include media-sm {
          @include font-size(114.6, 18);

          margin: {
            right: 0;
            left: -1.85rem;
          }
        };
      }
    }
  }

  .content {
    color: white;

    @include media-sm {
      position: absolute;
      top: 46.2%;
      left: 0;
      bottom: 0;

      padding: {
        top: 6.5rem;
        bottom: 2.2rem;
        left: 6rem;
        right: 0;
      }
    };

    span {
      @extend .read-more;
      @extend .icon-arrow-down;
      @extend .d-sm-inline-block;

      position: relative;
      transition: color 300ms ease;

      @include media-sm {
        float: right;
        margin-right: 1.6rem;
      };

      &::before {
        position: absolute;
        bottom: 140%;
        left: -37%;

        padding-right: 0;
        padding-left: 0;

        color: white;
        @include font-size(40.96);    // Using weird number to get to 3.2rem

        transform: rotate(-40deg);
        transition: color 300ms ease;

        z-index: 1;

        @include media-sm {
          bottom: 190%;
          left: 67%;

          @include font-size((4.7 * 18), 18);

          transform: none;
        };
      }

      &:hover,
      &:focus {
        color: white;
      }

      &.inline {
        position: absolute;
        bottom: 0;
        left: 50%;

        transform: translateX(-50%);

        @include media-sm {
          left: auto;
          transform: none;
        };
      }
    }

    &:hover,
    &:focus {
      span {
        color: map-get($color_text, 'text');

        &::before {
          color: map-get($color_text, 'text');
        }
      }
    }
  }

  h3,
  .h3 {
    font-weight: map-get($font-weight, 'semibold');
    @include font-size(14);
    text-transform: uppercase;
    letter-spacing: .078125rem;

    margin-bottom: 0.2rem;
  }

  p,
  .p {
    @include font-size(19);
    line-height: 1.15790474;
    letter-spacing: .078125rem;

    @include media-sm {
      @include font-size(33.68, 18);
      line-height: 1.2;
      letter-spacing: .055556rem;
    };

    &:last-child {
      margin-bottom: 6.2rem;

      @include media-sm {
        margin-bottom: 0;
      };
    }
  }
}
