.template-online-lawyer {
  @extend .template-e-health;

  .overlay {
    @include media-sm {
      top: 0;
      bottom: 0;
      right: 0;
      left: auto;

      transform: none;

      padding: {
        top: 15.3rem;
        left: 7.7rem;
      }
    };

    h1,
    .h1 {
      @include media-sm {
        margin-bottom: 2.2rem;
      };
    }

    span {
      color: white;
      transition: color 300ms ease;

      @include media-sm {
        margin: {
          top: 4rem;
          right: 11.4rem;
        }
      };

      &::before {
        color: white;
        transition: color 300ms ease;

        @include media-sm {
          left: 69%;
        };
      }
    }

    &:hover,
    &:focus {
      span {
        color: map-get($color_text, 'text');

        &::before {
          color: map-get($color_text, 'text');
        }
      }
    }
  }

  .image-wrapper {
    img {
      @include media-sm {
        width: 75.555555rem;
        height: 50.221889rem;
      };
    }
  }
}
