.template-praxiskauf {
  color: white;

  .image-wrapper {
    padding: 0;

    img {
      min-height: 16.640625rem;
      width: 100%;
    }
  }

  .overlay {
    top: 53%;
    bottom: auto;
    left: 50%;
    right: auto;

    padding-left: 3.5rem;

    transform: translate(-50%, -50%);

    @include media-sm {
      top: 58.25%;

      margin-left: -1.9rem;
      padding-left: 4.7rem;
    };

    span {
      @extend .read-more;
      @extend .icon-arrow-down;
      @extend .d-sm-inline-block;

      position: relative;
      transition: color 300ms ease;

      @include media-sm {
        float: right;
        margin-right: 1.6rem;
      };

      &::before {
        position: absolute;
        bottom: 140%;
        left: -37%;

        padding-right: 0;
        padding-left: 0;

        color: white;
        @include font-size(40.96);    // Using weird number to get to 3.2rem

        transform: rotate(-40deg);
        transition: color 300ms ease;

        z-index: 1;

        @include media-sm {
          bottom: 190%;
          left: 67%;

          @include font-size((4.7 * 18), 18);

          transform: none;
        };
      }
    }

    &:hover,
    &:focus {
      span {
        color: map-get($color_text, 'text');

        &::before {
          color: map-get($color_text, 'text');
        }
      }
    }

    &-link {
      h1,
      .h1 {
        @include media-sm {
          padding-left: 0;
          margin-left: -7.5rem;
          margin-bottom: 7.8rem;
        };
      }
    }
  }
}
