.template-rechtsgebiete {
  .content {
    @extend .text-right;

    padding: {
      top: 5rem;
      bottom: 3.3rem;
    }

    @include media-sm {
      padding: {
        top: 8.4rem;
        bottom: 5.6rem;
      }
    };
  }

  .link-cloud {
    @extend .text-left;

    font-family: map-get($font-family, 'secondary');
    font-weight: map-get($font-weight, 'light');
    @include font-size(27.69);
    line-height: 1.2;

    margin-bottom: 3.90625rem;

    @include media-sm {
      font-weight: map-get($font-weight, 'primary');
      @include font-size(65.05, 18);
      letter-spacing: .5rem;
      line-height: 1.05;

      padding-left: 3.6rem;
      // margin-bottom: .5rem;
      margin-bottom: -.2rem;
    };

    span {
      white-space: nowrap;
    }

    a {
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      letter-spacing: inherit;
      text-transform: inherit;

      margin-right: 0;

      @include media-sm {
        letter-spacing: .127778rem;
      };

      &::before {
        @extend .d-none;
      }
    }
  }

  a {
    @extend .read-more;
    margin-right: 1.1rem;

    @include media-sm {
      margin-right: 0;

      &::before {
        content: $icon-arrow-right-long;
        @include font-size((18 * 1), 18);
      }
    };
  }
}
