.template-shop-link {
  @include media-sm {
    position: relative;
  };

  header.content {
    padding: {
      top: 3.6rem;
      bottom: 0;
      left: 3.1rem;
      right: 3.1rem;
    }

    @include media-sm {
      text-align: left !important;

      margin-bottom: .7rem;
      padding: {
        top: 8.3rem;
        left: 7.5rem;
        right: 19.8rem - 2.555556rem;
      }
    };

    .shop-slogan {
      @extend .align-self-sm-end;

      @include media-sm {
        padding-left: 1rem;
      };

      h2,
      .h2 {
        text-transform: uppercase;
      }
    }

    h1,
    .h1 {
      @extend .text-left;

      font-family: map-get($font-family, 'secondary');
      font-weight: map-get($font-weight, 'primary');
      @include font-size(29.2);
      color: map-get($color-text, 'text');
      text-transform: uppercase;
      line-height: .775;
      letter-spacing: 0;

      padding: 0;
      margin: {
        left: 0;
        right: 0;
        bottom: .9rem;
      }

      background: transparent;

      @include media-sm {
        @include font-size(68.6, 18);
        letter-spacing: -.083333rem;

        margin-bottom: .2rem;
      };

      span {
        @extend .d-block;

        font-family: map-get($font-family, 'primary');
        font-weight: map-get($font-weight, 'semibold');
        @include font-size(48);
        color: map-get($color-text, 'primary');
        letter-spacing: .055556rem;

        @include media-sm {
          @include font-size(112.6, 18);
          letter-spacing: 0;

          margin-left: .1rem;
        };
      }
    }

    h2,
    .h2 {
      @extend .text-center;

      font-family: map-get($font-family, 'secondary');
      font-weight: map-get($font-weight, 'light');
      @include font-size(16);
      color: white;
      letter-spacing: 0.0390625rem;
      line-height: 1.25;

      margin: {
        left: -3.1rem;
        right: -3.1rem;
        bottom: 0;
      }

      padding: .7rem 2.5rem .5rem;

      background: map-get($color, 'black');

      @include media-sm {
        @include font-size(38.6, 18);
        letter-spacing: 0px;

        margin: 0;
        margin-bottom: .5rem;
        padding: {
          top: 0.4rem;
          left: 1rem;
          right: 1rem;
          bottom: 0.2rem;
        }
      };
    }
  }

  .content {
    padding: {
      top: 1rem;
    }

    @include media-sm {
      padding: {
        bottom: 8rem;
      }
    };

    h1,
    .h1 {
      @extend .d-block;
      @extend .d-sm-inline-block;
      @extend .text-uppercase;
      @include font-size(32);

      font-family: map-get($font-family, 'primary');
      font-weight: map-get($font-weight, 'semibold');
      letter-spacing: 0;

      @include media-sm {
        @include font-size(57.13, 18);

        margin: {
          bottom: 3.75rem;
          left: 27rem;
        }
      };
    }

    &:hover,
    &:focus {
      .shop-link {
        &::after {
          color: white;
          background: black;
        }

        &::before {
          color: map-get($color-text, 'primary');
        }
      }
    }
  }

  .products {
    @include media-sm {
      padding: {
        right: 19.8rem;
        left: 23.6rem;
        bottom: 8.2rem;
      }
    };

    &-scroll-container {
      background: #f6f4f3;

      @include media-sm {
        // max-height: 79.939444rem;
        // overflow: auto;
        padding-top: 5rem - 2.340556rem;
        padding-bottom: 5.9rem - 2.340556rem;
      };

      &.move-in {
        transform: translateY(15.625rem)
        // transform: translateY(31.25rem)
      }
    }
  }

    .product {
      padding-bottom: 4.4rem;

      &:last-child {
        padding-bottom: 1.8rem;
      }

      @include media-sm {
        padding: 2.340556rem 9rem 2.340556rem 6.2rem;

        // &:first-child {
        //   padding-top: 5rem;
        // }
        //
        // &:last-child {
        //   padding-bottom: 5.9rem;
        // }
      };

      h3,
      .h3 {
        font-family: map-get($font-family, 'secondary');
        @include font-size(22);
        text-transform: uppercase;

        margin-bottom: .35rem;

        @include media-sm {
          @include font-size(23.88, 18);
          letter-spacing: 0;
        };
      }

      p,
      .p {
        @extend .d-block;

        font-family: map-get($font-family, 'secondary');
        font-weight: map-get($font-weight, 'light');
        @include font-size(17);
        color: map-get($color-text, 'primary');
        letter-spacing: 0;

        & + .woocommerce-Price-amount-wrapper {
          margin-top: -.875rem;
        }
      }

      .woocommerce-Price-amount-wrapper {
        font-weight: map-get($font-weight, 'primary');
        color: map-get($color-text, 'text');

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

      .image-wrapper {
        padding: 0;
        margin-bottom: 1.9rem;

        @include media-sm {
          margin-bottom: 0;
        };

        img {
          @include media-sm {
            width: 20rem;
          };
        }
      }
}
