#teasers {
  padding: 0;
}

  .teaser {
    @extend section;
  }

@import "praxiskauf";
@import "rechtsgebiete";
@import "video";
@import "digitube";
@import "good-talk";
@import "shop";
@import "e-health";
@import "online-lawyer";
