a {
  // color: map-get($color_text, 'primary');
  color: map-get($color_text, 'text');
  text-decoration: none;

  transition: color 300ms ease;

  &:hover,
  &:focus {
    text-decoration: none;
    // color: map-get($color_text, 'text');
    color: map-get($color_text, 'primary');
  }

  &[href*="tel:"] {
    @include media-sm {
      cursor: default;
    };

    &:hover,
    &:focus {
      @include media-sm {
        color: map-get($color_text, 'text');
      };
    }
  }

  .posts-navigation & {
    @extend .read-more;
  }

  &.reverse {
    color: map-get($color_text, 'primary');

    &:hover,
    &:focus {
      color: map-get($color_text, 'text');
    }
  }
}

.read-more {
  @extend .mohr-icons;
  @extend .icon-arrow-right;

  font-family: map-get($font-family, 'primary');
  font-weight: map-get($font-weight, 'semibold');
  @include font-size(12);
  color: inherit;
  letter-spacing: .1796875rem;
  text-transform: uppercase;

  @include media-sm {
    @include font-size(22.6, 18);
    letter-spacing: .222222rem;
  };

  &::before {
    @extend .d-inline-block;

    padding-right: .4rem;
    // color: map-get($color-text, 'text');

    @include media-sm {
      padding-right: 1rem;
    };
  }

  &:hover,
  &:focus {
    color: map-get($color-text, 'primary');
  }
}

.shop-link {
  @extend .read-more;
  @extend .icon-arrow-down-2;
  @extend .text-center;

  display: inline-block;

  font-family: map-get($font-family, 'primary');
  font-weight: map-get($font-weight, 'semibold');
  @include font-size(22.6);
  line-height: 1.33;

  padding: {
    top: 3rem;
    bottom: 8rem;
  }


  @include media-sm {
    width: 10rem;
    @include font-size(22.6, 18);

    text-align: left !important;

    margin: {
      right: 1.4rem;
    }
    padding: {
      top: 0;
      bottom: 5rem;
    }
  };

  &::before {
    position: absolute;
    top: 51%;
    left: 30%;

    padding-right: 0;

    @include font-size((12.8 * 5));
    color: map-get($color-text, 'text');

    transition: color 300ms ease;

    z-index: 1;

    @include media-sm {
      top: 17%;
      right: 86%;
      left: auto;

      @include font-size((5.4 * 18), 18);
    };
  }

  &::after {
    @extend .d-inline-flex;
    @extend .justify-content-center;
    @extend .align-items-center;

    content: 'Shop';

    width: 4.6875rem;
    height: 4.6875rem;

    position: absolute;
    top: 74%;
    left: 50%;
    transform: translateX(-50%);

    font-family: inherit !important;
    font-weight: inherit;
    @include font-size(15.37);
    color: map-get($color-text, 'text');
    text-transform: inherit;
    letter-spacing: .15625rem;

    padding-left: .3rem;
    border-radius: 50%;

    background: #ffb50f;

    transition: all 300ms ease;

    @include media-sm {
      top: 64%;
      right: 82%;
      left: auto;

      transform: none;

      width: 3.324111rem;
      height: 3.324111rem;

      @include font-size(15.37, 18);

      padding-left: .1rem;
    };
  }

  &:hover,
  &:focus {
    // color: map-get($color-text, 'text');

    &::after {
      color: white;
      background: black;
    }

    &::before {
      color: map-get($color-text, 'primary');
    }
  }
}
