.inline-nav {
  @extend .clearfix;

  padding: 0;
  list-style: none;

  text-transform: lowercase;

  li {
    display: inline-block;

    margin-right: -.25ch;

    &::after {
      content: '/';
      color: map-get($color_text, 'primary');

      padding-left: .45ch;
    }
  }
}

#menu-primary {
  @at-root {
    .menu-primary-trigger {
      @extend .mohr-icons;
      @extend .icon-button-menu;
      @extend .btn;

      @include font-size((12.8 * 1.6));
      color: black;

      border: 0;
      padding: 0;

      background: transparent;

      @include media-sm {
        @include font-size((18 * 1.66), 18);
        margin: {
          top:  -.277778rem;
          right: 4.277778rem;
        }
      };

      #menu-primary-wrapper & {
        @extend .align-self-sm-end;
        @extend .icon-button-menu-close;
        @include font-size((12.8 * 1.833333));

        margin-top: 2rem;

        @include media-sm {
          @include font-size((2.8 * 18), 18);

          margin: {
            top: 3.4rem;
            right: 4rem;
          }
        };
      }
    }
  }

  &-wrapper {
    @extend .d-flex;
    @extend .flex-column;
    @extend .align-items-end;
    @extend .align-items-sm-start;
    @extend .fixed-top;
    @extend .h-100;

    width: 22.96875rem;
    left: auto;
    transform: translateX(22.96875rem);

    padding: {
      top: 1.09375rem;
      bottom: 1.40625rem;
      //left: 1.25rem;
      left: .95rem;
      right: 2.1875rem;
    }

    visibility: hidden;
    background: white;

    transition: transform 850ms cubic-bezier(0.43, 0.09, 0, 1), visibility 850ms cubic-bezier(0.43, 0.09, 0, 1);

    @include media-sm {
      width: 36.85rem;
      transform: translateX(36.85rem);

      padding: {
        top: 1.4rem;
        left: 1.9rem;
      }
    };

    .nav-active & {
      visibility: visible;
      transform: translateX(0);
    }

    .admin-bar & {
      top: 46px;

      @media (min-width: 783px) {
        top: 32px;
      }
    }
  }

  &-body {
    margin: {
      top: 5rem;
    }

    overflow-y: scroll;
  }

  @extend .text-left;

  font-family: map-get($font-family, 'secondary');
  @include font-size(23.4);

  list-style: none;
  padding: {
    bottom: 5rem - .625rem;
    left: 5.15625rem;
  }

  @include media-sm {
    @include font-size(46, 18);
    padding-left: 4rem;
  };

  li {
    margin: {
      top: .625rem;
      bottom: .625rem;
    }

    a {
      color: map-get($color_text, 'text');
      text-decoration: none;

      transition: color 300ms ease;
    }

    &:hover,
    &:focus,
    &.current-menu-item,
    &.current-page-ancestor,
    &.current-post-ancestor {
      a {
        color: map-get($color_text, 'primary');
      }
    }
  }

  @at-root {
    body {
      &.nav-active {
        position: relative;
        overflow: hidden;
      }
    }
  }

  &-en {
    @extend #menu-primary;
  }
}

#menu-footer,
#menu-footer-plus,
#menu-socialmedia {
  &-container {
    @extend .clearfix;
    margin-bottom: 1.7rem;
  }

  @extend .inline-nav;
  @extend .text-right;

  @include font-size(14);
  text-transform: none;
  letter-spacing: .078125rem;

  margin: {
    top: -.3rem;
    bottom: -.3rem;
  }

  @include media-sm {
    width: 50%;
    float: right;

    @include font-size(20.6, 18);
  };

  @include media-only-mobile-landscape {
    @include font-size(20.6, 10);
  };

  a {
    font-family: map-get($font-family, 'secondary');
    // font-weight: map-get($font-weight, 'light');
    color: map-get($color-text, 'text');
  }

  li {
    padding: {
      top: .2rem;
      bottom: .2rem;
    }

    &:hover,
    &:focus {
    // &.current-menu-item,
    // &.current-lang {
      a {
        color: map-get($color-text, 'primary');
      }
    }
  }
}

#menu-footer {
  &-container {
    margin-bottom: .4rem;

    @include media-sm {
      margin-bottom: 1.7rem;
    };
  }

  &-en {
    @extend #menu-footer;
  }

  &-plus {
    &-en {
      @extend #menu-footer-plus;
    }
  }
}

#menu-socialmedia {
  &-container {
    @extend .d-flex;
    @extend .flex-row;
    @extend .justify-content-end;
  }

  text-transform: lowercase;

  li {
    @extend .d-block;

    &::before {
      content: '/';
      color: map-get($color_text, 'primary');

      padding-right: .3ch;
    }

    &::after {
      @extend .d-none;
    }
  }

  &-en {
    @extend #menu-socialmedia;
  }
}
