/*
Theme Name: mohr
Theme URI:
Author: Eyes on media
Author URI: https://www.eonm.de
Description: Theme for mohr
Version: 1.0
*/

#wpadminbar {
  overflow: hidden;

  body.nav-active & {
    top: -46px;

    @media (min-width: 783px) {
      top: 0;
    };
  }
}
