.btn {
  border-radius: 0;
}

.btn-primary {
  font-family: map-get($font-family, 'primary');
  font-weight: map-get($font-weight, 'light');
  @include font-size(19.999995);
  letter-spacing: .15625rem;
  color: white;
  text-transform: uppercase;

  border: 0;

  background: black;
  font-weight: 300;

  &:hover,
  &:focus,
  &:not(:disabled):not(.disabled):active {
    background: map-get($color_text, 'primary');
  }

  @include media-sm {
    @include font-size(21.586667, 18);
  };
}

.btn-secondary {
  @extend .btn-primary;

  background: map-get($color_text, 'primary');

  &:hover,
  &:focus,
  &:not(:disabled):not(.disabled):active {
    background: black;
  }
}

.wc-forward {
  @extend .d-none;
}
