@import "buttons";
@import "lists";

.form-control {
  font-size: inherit;

  padding: {
    top: .5rem;
    bottom: .5rem;
  }

  .woocommerce-invalid & {
    border-color: #a00;
  }
}

.form-row {
  .woocommerce form &,
  & {
    @extend .row;

    margin-bottom: 1rem;

    // Woocommerce overrides
    width: auto;
    float: none;
    padding: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form-group {
  &:last-child {
    margin-bottom: 0;
  }
}

label {
  &,
  .woocommerce form .form-row & {
    // line-height: inherit;
  }
}

input,
select,
textarea {
  @extend .form-control;

  &:last-child {
    padding: .375rem .75rem;
  }
}

input[type="checkbox"] {
  &,
  .woocommerce form .form-row & {
    width: auto;
    cursor: pointer;

    &:focus {
      box-shadow: none;
    }
  }
}

textarea {
  &,
  .woocommerce form .form-row & {

    max-width: 100%;
    height: 7em;
  }
}

select {
  &:last-child {
    padding-top: .1rem;
  }
}

.select2-container {
  .select2-selection {
    &--single {
      height: auto;
      padding: {
        top: .375rem;
        bottom: .375rem;
      }
    }
  }

  &--default .select2-selection {
    &--single {
      .select2-selection__arrow {
        height: auto;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
