* {
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

address,
figure {
  margin-bottom: 0;
}

iframe {
  display: block;
  max-width: 100%;
}

//overflow x problem edge fix
@supports (-ms-ime-align:auto) {
  body {
    overflow-x: hidden;
  }
}