$font-size: (
  'text': 16,
  'primary': 40,
  'secondary': 32
);

$font-weight: (
  'primary': 500,
  'light': 300,
  'semibold': 600,
  'extrabold': 900
);

$font-family: (
  'primary': 'Gilroy',
  'secondary': 'Museo Slab'
);

$line-height: (
  'primary': 1.2,
  'text': 1.375
);

// Icon font via icomoon.io
$icon-right-chevron: "\e90c";
$icon-button-menu-close: "\e901";
$icon-button-menu: "\e903";
$icon-arrow-down: "\e900";
$icon-arrow-down-2: "\e904";
$icon-arrow-right: "\e902";
$icon-dotted-line: "\e907";
$icon-arrow-eyecatcher: "\e905";
$icon-arrow-right-long: "\e906";
$icon-arrow-right-2: "\e908";
$icon-arrow-right-3: "\e909";
