p,
.p {
  line-height: map-get($line-height, 'text');
  //letter-spacing: .078125rem;

  @include media-sm {
    line-height: map-get($line-height, 'primary');
    letter-spacing: .111111rem;
  };

  &.copyright {
    font-weight: map-get($font-weight, 'semibold');
    @include font-size(10);
    letter-spacing: .15625rem;
    text-transform: uppercase;

    @include media-sm {
      @include font-size(14.6, 18);
      letter-spacing: .15rem;
    };
    
    @include media-only-mobile-landscape {
      @include font-size(15, 10);
      letter-spacing: .15rem;
    };
  }

  strong,
  b {
    font-weight: map-get($font-weight, 'semibold');
  }
}

.color-primary {
  color: map-get($color_text, 'primary');
}
