// Icon font via icomoon.io
@font-face {
  font-family: 'mohr-icons';
  src:  url('assets/fonts/mohr-icons.eot?a7ybbf');
  src:  url('assets/fonts/mohr-icons.eot?a7ybbf#iefix') format('embedded-opentype'),
    url('assets/fonts/mohr-icons.ttf?a7ybbf') format('truetype'),
    url('assets/fonts/mohr-icons.woff?a7ybbf') format('woff'),
    url('assets/fonts/mohr-icons.svg?a7ybbf#mohr-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.mohr-icons,
[class^="icon-"],
[class*=" icon-"] {
  &::before,
  &:after {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'mohr-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.icon-right-chevron {
  &:before {
    content: $icon-right-chevron;
  }
}

.icon-button-menu-close {
  &:before {
    content: $icon-button-menu-close;
  }
}
.icon-button-menu {
  &:before {
    content: $icon-button-menu;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
// Always under icon arrow right
// Important for .template-praxiskauf .read-more
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-arrow-down-2 {
  &:before {
    content: $icon-arrow-down-2;
  }
}
.icon-dotted-line {
  &:before {
    content: $icon-dotted-line;
  }
}
.icon-arrow-eyecatcher {
  &:before {
    content: $icon-arrow-eyecatcher;
  }
}
.icon-arrow-right-long {
  &:before {
    content: $icon-arrow-right-long;
  }
}
.icon-arrow-right-2 {
  &:before {
    content: $icon-arrow-right-2;
  }
}

.icon-arrow-right-3 {
  &:before {
    content: $icon-arrow-right-3;
  }
}


/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on July 7, 2018 */
@font-face {
    font-family: 'Museo Slab';
    src: url('assets/fonts/museoslab-300-webfont.woff2') format('woff2'),
         url('assets/fonts/museoslab-300-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Slab';
    src: url('assets/fonts/museoslab-500-webfont.woff2') format('woff2'),
         url('assets/fonts/museoslab-500-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Slab';
    src: url('assets/fonts/museoslab-500italic-webfont.woff2') format('woff2'),
         url('assets/fonts/museoslab-500italic-webfont.woff') format('woff');
   font-weight: 500;
   font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/radomir_tinkov_-_gilroy-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/radomir_tinkov_-_gilroy-regular-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/radomir_tinkov_-_gilroy-semibold-webfont.woff2') format('woff2'),
         url('assets/fonts/radomir_tinkov_-_gilroy-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/radomir_tinkov_-_gilroy-extrabold-webfont.woff2') format('woff2'),
         url('assets/fonts/radomir_tinkov_-_gilroy-extrabold-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}
