h1,
.h1 {
  font-family: map-get($font-family, 'secondary');
  font-weight: map-get($font-weight, 'primary');
  @include font-size(28);
  letter-spacing: .078125rem;

  margin-bottom: 1.8rem;

  @include media-sm {
    @include font-size(85.09, 18);
    letter-spacing: .2rem;
  };
}

h2,
.h2 {
  font-weight: map-get($font-weight, 'semibold');
  @include font-size(18);
  letter-spacing: .078125rem;
  text-transform: uppercase;

  @include media-sm {
    @include font-size(30.4, 18);
    letter-spacing: .111111rem;
  };

  & + & {
    margin-top: -.5rem;

    @include media-sm {
      margin-top: 0;
    };
  }
}

h3,
.h3 {
  color: map-get($color-text, 'text');
}
