@import "custom-fonts";

html {
	font-size: 4vw;

	// @include media-xs {
	// 	font-size: 2.5vw;
	// };

	@include media-sm {
		font-size: 1vw;
	};
}

body {
	@include font-size(map-get($font-size, 'text'));
	font-family: map-get($font-family, 'primary');
	font-weight: map-get($font-weight, 'primary');
	color: map-get($color-text, 'text');
	line-height: map-get($line-height, 'primary');

	@include media-sm {
		@include font-size(33.68, 18);
	};
}

@import "headings";
@import "copy";
